body {
    background-color: #f4f4f4;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 100px auto 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background: rgb(0, 174, 239);
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header h1 {
    color: white;
    font-size: 1rem;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
    color: rgb(46, 45, 45);
}

button {
    background-color: rgb(152, 152, 152);
    padding: 15px 155px;
    margin-left: 12px;
    font-size: 13px;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 7px;
}

fieldset {
    border-radius: 7px;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    margin-top: 25px;
}

fieldset label {
    display: block;
    margin-left: 10px;
    margin-top: 25px;
}

fieldset input[type="text"] {
    margin-left: 13px;
    width: 94%;
    padding: 12px;
    border: none;
    background-color: #88888845;
    border-radius: 5px;
    margin-bottom: 30px;
}

.text-item {
    margin-top: 25px;
    margin-right: 15px;
}

.text-item2 {
    margin-top: 25px;
    margin-right: 15px;
}